name: Main

on:
  push:
    paths-ignore:
      - '*.md'
  pull_request:
    paths-ignore:
      - '*.md'
  workflow_dispatch:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, macos-13, macos-14] # macos-14 is arm runner
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - run: bazel --version
    - name: Test
      run: make test
